accelerate
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
attrs
backoff
beautifulsoup4
bitsandbytes
blinker
cachetools
certifi
cffi
chardet
charset-normalizer
click
coloredlogs
cryptography
dataclasses-json
datasets
decorator
dill
easyocr
emoji
eval_type_backport
filelock
filetype
flatbuffers
frozenlist
fsspec
gitdb
GitPython
greenlet
grpcio
h11
html5lib
httpcore
httpx
httpx-sse
huggingface
huggingface-hub
humanfriendly
idna
imageio
imageio-ffmpeg
Jinja2
joblib
jsonpatch
jsonpath-python
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-community
langchain-core
langchain-milvus
langchain-text-splitters
langdetect
langsmith
lazy_loader
loralib
lxml
markdown-it-py
MarkupSafe
marshmallow
mdurl
# milvus-lite
milvus-model
moviepy
mpmath
multidict
multiprocess
mypy-extensions
narwhals
nest-asyncio
networkx
ninja
nltk
numpy
olefile
onnxruntime
opencv-python-headless
orjson
packaging
pandas
pillow
proglog
propcache
protobuf
psutil
pyarrow
pyclipper
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
pydub
Pygments
pymilvus
pypdf
python-bidi
python-dateutil
python-docx
python-dotenv
python-iso639
python-magic
python-oxmsg
pytz
PyYAML
RapidFuzz
referencing
regex
requests
requests-toolbelt
rich
rpds-py
safetensors
scikit-image
scikit-learn
scipy
sentence-transformers
sentencepiece
setuptools
shapely
six
smmap
sniffio
soupsieve
SpeechRecognition
SQLAlchemy
streamlit
sympy
tenacity
threadpoolctl
tifffile
tokenizers
toml
torch
torchvision
tornado
tqdm
transformers
# triton
typing-inspect
typing_extensions
tzdata
ujson
unstructured
unstructured-client
urllib3
watchdog
webencodings
wrapt
xxhash
yarl

chromadb
langchain-chroma
langchain-openai
openai
